.c-card {
  padding: 37px 10px;
  background-color: #fff;
  @extend .c-shadow-100;
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    padding: 37px 34px;
  }
  .c-button {
    box-shadow: none;
  }
  &.c-card-no-padding {
    padding: 0;
  }
}
