@import "./node_modules/bootstrap-nojs/bootstrap.css";
@import "../base/styles/main.scss";

body {
  min-height: 100vh;
}

.auth-page {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 15vh;

  .title {
    text-align: center;
    font-size: 150%;
    margin-bottom: 30px;
    font-weight: 500;
  }
}

.auth-route {
  text-align: center;
}

svg {
  display: inline-block;
  width: 1em;
}
