* {
  font-family: 'Colfax';
  font-weight: 400;
}

body {
  color: $black;
}

#root {
  min-height: 100vh;
  background-color: $background-color;
  padding-bottom: 40px;
}

a {
  text-decoration: none;
  color: $blue2;

  &:hover {
    color: $blue3;
  }

  &:hover,
  &:active,
  &:focus,
  &:visited {
    text-decoration: none;
  }
}

.block {
  background-color: #ffffff;
  @extend .c-shadow-100;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border: 1px solid #d1dfe0;
  border-radius: 8px;
  box-shadow: none;

  .block-heading {
    @extend .h5;
    padding: 20px 0 0;
    margin: 0 20px;
    font-weight: 500 !important;
    font-size: 16px;
    text-transform: uppercase;
    color: $black;
    letter-spacing: 0.2px;
  }

  .block-description {
    margin-bottom: 20px;
    font-size: 13px;
    letter-spacing: 0.5px;
  }

  &.content {
    .center {
      text-align: center;
    }

    .right {
      text-align: right;
    }

    padding: 25px;

    .block-heading {
      padding: 0;
      margin: 0;
      margin-bottom: 10px;
    }

    .block-data {
      overflow-x: auto;
    }

    .hash-container {
      display: flex;

      .icon {
        margin-right: 20px;
      }

      .block-time {
        color: $grey;
      }
    }
  }
}

table {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.chain-item {
  padding-right: 10px;
  padding-left: 10px;
  white-space: nowrap;
}

.chain-id {
  font-size: 16px;
  font-weight: 500;
  color: $black;
}

.card {
  display: block;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.footer {
  text-align: center;
}
