#root {
  min-height: 100vh;
  background-color: get-gray('black-squeeze');
  padding-top: 80px;
  padding-bottom: 40px;
}

a {
  text-decoration: none;
  &:hover, &:active, &:focus, &:visited {
    text-decoration: none;
  }
}

.block {
  @extend .c-bg-white;
  @extend .c-shadow-box;
  margin-bottom: 20px;
  padding-bottom: 20px;
  .block-heading {
    @extend .h5;
    @extend .c-border-bottom;
    padding: 20px 0 0;
    margin: 0 20px;
  }
  &.content {
    padding: 20px;
    .block-heading {
      padding: 0;
      margin: 0;
      margin-bottom: 20px;
    }
  }
}

table {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.chain-item {
  padding-right: 10px;
  padding-left: 10px;
  white-space: nowrap;
}

.chain-id {
  font-size: 120%;
}

.card {
  display: block;
  padding: 10px 12px;
  border-radius: 10px;
  margin-bottom: 20px;
}
