$black: #101111;
$white: #ffffff;
$white1: #f4f7f8;
$white2: #f7f7f7;
$blue: #b9c9ca;
$blue2: #0fadb6;
$blue3: #008c94;
$grey: #8c9c9d;
$grey2: #657576;

$background-color: #f9f9f9;

$breakpoint-xs: 0px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
