.c-breadcrumb {
  @extend .c-text-cut;
  padding: 10px 0;
  ul {
    height: 20px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      padding: 0 15px;
      position: relative;
      &:not(:last-of-type)::after {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        content: '/'
      }
      &:first-of-type {
        padding-left: 0;
      }
    }
  }
}
