* {
  box-sizing: border-box !important;
}

.c-btn {
  position: relative;
  cursor: pointer;

  height: 50px;
  line-height: 50px;
  border-radius: 3px;
  border: none;

  padding: 0 45px;

  letter-spacing: 0.25px;
  text-transform: uppercase;
  color: get-color('c-white');

  @extend .c-text-nowrap;

  > * {
    position: relative;
    z-index: 1;
  }

  span {
    display: block;
  }

  &:before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: get-color('c-white');
    transition: 0.1s;
    opacity: 0;
    z-index: 0;
  }

  &:after {
    position: absolute;
    content: '';
    width: 80%;
    height: 100%;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    opacity: 0.5;
    filter: blur(15px);
  }

  &:hover {
    &:before {
      opacity: 0.3;
    }
  }

  &:active {
    &:before {
      background-color: rgba(map-get($gray, 's-600'), 0.3) !important;
      opacity: 1;
    }
  }

  &.c-btn-lg {
    font-size: 18px;
    height: 56px;
    line-height: 56px;
  }

  &.c-btn-sm {
    font-size: 14px;
    height: 36px;
    line-height: 36px;
  }

  &.c-circle {
    padding: 0;
    &:before {
      border-radius: 100%;
    }
    &:after {
      border-radius: 100%;
    }
  }

  &.c-square {
    padding: 0;
  }

  &.c-circle, &.c-square {
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.c-btn-primary, &.c-btn-blue {
    @extend .c-bg-blue;
    &:after {
      background-color: get-color('c-blue');
    }
  }

  &.c-btn-success, &.c-btn-green {
    @extend .c-bg-green;
    &:after {
      background-color: get-color('c-green');
    }
  }

  &.c-btn-error, &.c-btn-red {
    @extend .c-bg-red;
    &:after {
      background-color: get-color('c-red');
    }
  }

  &.c-btn-alert, &.c-btn-orange {
    @extend .c-bg-orange;
    &:after {
      background-color: get-color('c-orange');
    }
  }

  &.c-btn-dark, &.c-btn-black {
    @extend .c-bg-dark;
    &:after {
      background-color: get-color('c-dark');
    }
  }

  &.c-btn-disabled, &.c-btn-gray {
    background-color: $disabled !important;
    @extend .c-color-gray-400;
    &:before {
      background: none !important;
      opacity: 1;
    }
    &:after {
      background: none !important;
      opacity: 1;
    }
  }

  &.c-btn-secondary {
    > * {
      height: 46px;
      line-height: 46px;
    }

    background-color: transparent !important;
    transition: 0.2s;

    &:before {
      border-radius: 3px;
      opacity: 1;
      background-color: transparent;
    }

    &:after {
      display: none;
    }

    &:hover, &:active {
      &:before {
        border: none !important;
        opacity: 0.5;
      }
      &:after {
        display: block;
      }
    }

    &.c-btn-primary, &.c-btn-blue {
      color: get-color('c-blue');
      @extend .c-bg-blue;

      &:before {
        border: 2px solid get-color('c-blue');
      }

      &:hover, &:active {
        color: get-color('c-white');
        background-color: get-color('c-blue') !important;
      }
    }

    &.c-btn-success, &.c-btn-green {
      color: get-color('c-green');
      @extend .c-bg-green;

      &:before {
        border: 2px solid get-color('c-green');
      }

      &:hover, &:active {
        color: get-color('c-white');
        background-color: get-color('c-green') !important;
      }
    }

    &.c-btn-error, &.c-btn-red {
      color: get-color('c-red');
      @extend .c-bg-red;

      &:before {
        border: 2px solid get-color('c-red');
      }

      &:hover, &:active {
        color: get-color('c-white');
        background-color: get-color('c-red') !important;
      }
    }

    &.c-btn-alert, &.c-btn-orange {
      color: get-color('c-orange');
      @extend .c-bg-orange;

      &:before {
        border: 2px solid get-color('c-orange');
      }

      &:hover, &:active {
        color: get-color('c-white');
        background-color: get-color('c-orange') !important;
      }
    }

    &.c-btn-dark, &.c-btn-black {
      color: get-color('c-black');
      @extend .c-bg-red;

      &:before {
        border: 2px solid get-color('c-black');
      }

      &:hover, &:active {
        color: get-color('c-white');
        background-color: get-color('c-black') !important;
      }
    }

    &.c-btn-disabled, &.c-btn-gray {
      background-color: $disabled !important;
      @extend .c-color-gray-400;
      &:before {
        background: none;
        opacity: 1;
      }
      &:after {
        background: none;
        opacity: 1;
      }
    }
  }

  @include breakpoint-max('sm') {
    &:after {
      display: none;
    }
  }

  @include breakpoint('sm') {
    outline: none;
  }
}
