.c-input {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  border-radius: 3px;
  outline: 0;
  border: none;
  font-size: 14px;

  @extend .c-shadow-100;

  .c-input-block {
    display: block;
  }

  &:hover {
    @extend .c-shadow-200;
  }

  &.c-input-error {
    border-color: get-color('c-red');
    color: get-color('c-red');
    outline-color: get-color('c-red');
  }

  &.c-input-success {
    border-color: get-color('c-turquose');
    color: get-color('c-turquose');
    outline-color: get-color('c-turquose');
  }

  &.c-input-disabled {
    border-color: get-color('c-red');
    color: get-color('c-red');
    outline-color: get-color('c-red');
  }
}

.c-input-group, .c-field {
  label {
    input {
      margin-top: 3px;
      display: block;
    }
  }
  margin-bottom: 10px;
}
