.isoLayoutContentWrapper {
  @media only screen and (max-device-width: 640px) {
    overflow-x: scroll;
  }
}

.bondImage {
  @media only screen and (max-device-width: 640px) {
    width: 30px !important;
    height: 30px !important;
  }
}

.wrapperBondHistory {
  display: flex;
  flex: 1;

  .wrapperBondList {
    width: 30%;
  }

  .wrapperHistoryList {
    width: 70%;
    margin-left: 20px;
  }

  .tokenLink {
    @media only screen and (max-device-width: 640px) {
      display: none;
    }
  }
}

.HistoryList {

  button {
    @media only screen and (max-device-width: 640px) {
      margin: 10px 0;
    }
  }

  .wrapperHistoryItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: (10px 0);

    @media only screen and (max-device-width: 640px) {
      flex-direction: column;
      align-items: start;
    }
  }

  .wrapperDetail {
    // display: flex;
    width: 100%;
  }

  .title {
    width: 125px;
    color: #212c61;
    display: inline-block;
  }

  .TxID {
    color: #5872f5;
    white-space: nowrap; /*keep text on one line */
    overflow: hidden; /*prevent text from being shown outside the border */
    text-overflow: ellipsis;
  }

  .TokenID {
    color: #2c3d8f;
    text-overflow: ellipsis;
    overflow: hidden; /*prevent text from being shown outside the border */
    white-space: nowrap; /*keep text on one line */


  }

  .from {
    color: #b8bccc;
  }
}

.wrapperBond {
  padding: (10px 0);
  cursor: pointer;
  border-bottom: 1px solid #ebeffa;
  padding: 10px;
  display: flex;
  flex-direction: row;

  &:hover {
    background-color: #f9fafb;
  }

  &.isSelected {
    background-color: #f9fafb;
    cursor: default;
  }
}

.wrapperBond:not(.wrapperSelectedBond):hover {
  background-color: #f9fafb;
}

.wrapperSelectedBond {
  background-color: #f9fafb;
}

.wrapperBondItem {
  display: flex;
  //cursor: pointer;

  .historyName {
    word-wrap: break-word;
    color: #212c61;
  }

  .totalAmount {
    color: #838aa6;
  }

  .buyBackAvailable {
    color: #838aa6;
  }

  .detail {
    margin: (0 10px);
    //cursor: pointer;
  }

}

.line {
  padding: (0 20px);
  border: solid 0.5px #ebeffa;
  margin-top: 20px;
}
