.c-a-btn {
  line-height: initial;
  cursor: pointer;
  margin-right: 5px;
  border: 1px solid #E4E7F2;
  @extend .c-shadow-100;
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 5px 35px;
  font-size: 90%;
  &.c-a-btn-approve {
    @extend .c-bg-blue-600;
    color: #FFFFFF;
  }
  &.c-a-btn-deny {
    @extend .c-color-red-600;
  }
}

.c-btn {
  text-transform: initial;
}
