fieldset {
  background-color: transparent;
}

legend {
  font-weight: 600;
  margin: 8px 0px !important;
}

.MuiTablePagination-select-20 {
  padding-right: 25px !important;
}

.MuiTableCell-root-25 {
  border-bottom: none !important;
}
