fieldset {
  background-color: transparent;
}

legend {
  font-weight: 600;
  margin: 8px 0px !important;
}

div[class^="MuiTablePagination-select-"], div[class*="MuiTablePagination-select-"] {
  padding-right: 25px !important;
}

td[class^="MuiTableCell-root-"], td[class*="MuiTableCell-root-"] {
  border-bottom: none !important;
}
