.css-1sugtjn {
  margin-top: 120px !important;
  .📦dspl_block {
    svg {
      margin-top: -12px;
    }
  }
}

main {
  min-height: calc(100vh - 372px);
  &.no-sub-menu {
    min-height: calc(100vh - 312px);
  }
}

.c-status {
  &::first-letter {
    text-transform: uppercase !important;
  }
  &.pending {
    @extend .c-color-orange-500;
  }
  &.approved {
    @extend .c-color-green-500;
  }
  &.withdrawn {
    @extend .c-color-green-900;
  }
  &.ready {
    @extend .c-color-orange-300;
  }
  &.payment {
    @extend .c-color-blue-900;
  }
}
