button.interestrate {
  background: #E5E5E5;
  border: none !important;
  color: #000000 !important;
}

button.interestrate:hover {
  background: #4CE2A7;
  color: #ffffff !important;
}

button.interestrate-selected {
  background: #4CE2A7;
  color: #ffffff !important;
}
