button.interestrate {
  background: #E5E5E5;
  border: none !important;
  color: #000000 !important;
}

button.interestrate:hover {
  background: #4CE2A7;
  color: #ffffff !important;
}

button.interestrate-selected {
  background: #4CE2A7;
  color: #ffffff !important;
}

button.create-submit {
  position: relative;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  border-radius: 3px;
  border: none;
  padding: 0 45px;
  letter-spacing: 0.25px;background: #ffffff;
  text-transform: none;
  color: #ffffff !important;
}

button.collateral-type {
  opacity: 0.5;
  background: #E5E5E5;
}

button.collateral-type:hover {
  opacity: 1.0;
  background: #ffffff;
}

button.collateral-type-selected {
  opacity: 1.0;
  background: #ffffff;
}
