.home-page {
  background-color: #FAFAFA;
  padding: 48px 0;
  .table-container {
    overflow: auto;
  }
  .hello {
    font-size: 22px;
    @extend .c-color-blue-900;
    margin-bottom: 40px;
  }
  .stats-container {
    > div {
      position: relative;
      @include breakpoint('lg') {
        &:not(:last-of-type):after {
          content: '';
          display: block;
          height: 80%;
          background-color: map-get($map: $gray, $key: 's-200');
          width: 1px;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }
      }
      .value {
        padding: 7px 0;
        font-size: 27px;
        @extend .c-color-blue-900;
      }
    }
  }
  .coin-information {
    .c-card-container {
      padding-bottom: 24px;
    }

    .c-card {
      min-height: 276px;
      height: 100%;
    }
    .card-create-a-proposal-container {
      position: relative;
      background-color: #0A85E7;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right center;
      color: #FFFFFF;
      p {
        font-size: 20px;
        padding-right: 100px;
      }
      .c-btn {
        position: absolute;
        bottom: 36px;
        left: 50%;
        transform: translateX(-50%);
        padding: 0px;
        width: 90%;
        text-align: center;
      }
    }
  }
  .summary {
    .c-card {
      padding: 20px 22px;
      &:after {
        content: '';
        display: table;
        clear: both;
      }
    }
    .title {
      font-size: 110%;
    }
    .description {
      margin-top: 2px;
    }
  }

  .form  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .group-input {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 20px;
      > div {
        padding: 0px;
      }
    }
    button.submit {
      max-width: 300px;
    }
  }
}
