.tabs-container {
  .c-card {
    display: inline-block;
    padding: 10px;
  }
  .tabs {
    > div {
      cursor: pointer;
      @extend .c-color-blue-700;
      padding: 5px 20px;
      display: inline-block;
      border-top: 1px solid map-get($blue, 's-700');
      border-left: 1px solid map-get($blue, 's-700');
      border-bottom: 1px solid map-get($blue, 's-700');
      &:first-of-type {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      &:last-of-type {
        border-right: 1px solid map-get($blue, 's-700');
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
      &.active {
        @extend .c-bg-blue-700;
        color: #FFFFFF;
      }
    }
  }
}
