.breadcrumb {
    height: 40px;
    background-color: white;
    padding: (0 40px);
    display: table-cell;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
}