.wrapperBioMoney {
  .bioSymbol {
    font-size: 12px;
    text-align: right;
  }
  .bioNumber {
    font-size: 20px;
  }
  .bioName {
    font-size: 12px;
    color: #838aa6;
  }
  .blue {
    color: #2c3d8f;
  }
  .green {
    color: #4ce0a5,
  }
}
