$points: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$colors: (
  c-blue:   #2D4EF5,
  c-green:  #4CE2A7,
  c-red:    #E24C4C,
  c-orange: #F1A153,
  c-dark:   #022047,
  c-black:  #022047,
  c-white:  #ffffff
);

$gray: (
  s-100: #FAFAFA,
  s-200: #E5E5E5,
  s-300: #CCCCCC,
  s-400: #999999,
  s-500: #666666,
  s-600: #333333
);

$blue: (
  s-100:  #F2F4FF,
  s-200:  #E6E9FF,
  s-300:  #BCC5F5,
  s-400:  #8797F5,
  s-500:  #566EF5,
  s-600:  #2D4CF5,
  s-700:  #182D9E,
  s-800:  #2C3B8F,
  s-900:  #212B63,
  s-1000: #050C33
);

$primary: $blue;

$green: (
  s-100:  #F2FFFA,
  s-200:  #E6FFF5,
  s-300:  #BCF5DE,
  s-400:  #87F5C9,
  s-500:  #56F5B5,
  s-600:  #4CE2A7,
  s-700:  #189E68,
  s-800:  #2C8F67,
  s-900:  #216349,
  s-1000: #053321
);

$success: $green;

$red: (
  s-100:  #FFF2F2,
  s-200:  #FFE6E6,
  s-300:  #F5BCBC,
  s-400:  #F58787,
  s-500:  #F55656,
  s-600:  #E24C4C,
  s-700:  #9E1818,
  s-800:  #8F2C2C,
  s-900:  #632121,
  s-1000: #330505
);

$error: $red;

$orange: (
  s-100:  #FFF9F2,
  s-200:  #FFF2E6,
  s-300:  #F5D9BC,
  s-400:  #F5BE87,
  s-500:  #F5A556,
  s-600:  #E3984D,
  s-700:  #9E5B18,
  s-800:  #8F5E2C,
  s-900:  #634221,
  s-1000: #331C05
);

$alert: $orange;

$shadows: (
  s-100: 0 2px 4px 0,
  s-200: 0 5px 8px 0,
  s-300: 0 9px 10px 0,
  s-400: 0 20px 30px 0,
  s-500: 0 30px 30px 0,
  s-600: 0 50px 50px 0
);

$disabled: #D8D8D8;
